.layout {
  display: grid;
  width: 60%;
  margin: auto;
  padding: 50px;
  border: 1px solid #000000ea;
  margin-top: 150px;
  grid-gap: 80px;
  box-shadow: 0 0 15px 10px grey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.formSubCont {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;

  .card {
    display: flex;
    height: 100%;

    .spanPreview {
      font-size: larger;
      display: flex;
      border: 1px solid grey;
      border-collapse: collapse;
      justify-content: space-between;
    }
    .summary {
      margin-top: 10px;
      font-size: larger;
    }
  }
}

.formContainer {
  display: flex;
  width: 80%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  flex-flow: column wrap;
}

@media only screen and (max-width: 1171px) {
  .formSubCont {
    grid-column: 1 / 2;

    .card {
      .spanPreview {
        font-size: medium;
      }

      .summary {
        margin-top: 10px;
        font-size: medium;
      }
    }
  }

  .formContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
  }
}
