@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap");

.title {
  font-family: "STIX Two Text", serif;
  font-size: large;
  margin: 15px;
}

.btn-delete {
  margin: 15px;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.panel-description {
  font-family: "STIX Two Text", serif;
  font-size: medium;
  margin: 15px;
}
